    
    
@import '../../../styles/variables.scss';

.cards-container {
    display: flex;
    flex-wrap: wrap; // Permitir que las tarjetas se envuelvan
    gap: 16px; // Espacio entre tarjetas
}

.card {
    background-color: $background-white;
    border: 1px solid $border-gray;
    border-radius: 8px;
    padding: 16px;
    height: 11rem;
    width: calc(25.333% - 18px); 
    box-sizing: border-box; 
    transition: transform 0.3s ease; 
    margin: 25px;


    .title {
        color: $text-dark-gray;
        font-size: 1.5rem; // Título más grande
        margin-bottom: 8px; // Espacio debajo del título
    }

    .text {
        color: $text-light-gray;
        font-size: 1rem; // Texto más pequeño
        margin-bottom: 4px; // Espacio debajo de cada texto
    }

    .card-buttons {
        margin-bottom: 10px;
        display: flex;
        justify-content: end; 
        gap: 0.5rem;
       

        button {
            padding: 8px 12px;
            border: none; // Sin borde por defecto
            border-radius: 4px; // Bordes redondeados
            cursor: pointer; // Cambia el cursor al pasar

            &.edit-button {
                background-color: $button-companies;
                color: $text-white;

                &:hover {
                    background-color: $button-companies-hover;
                }
            }

            &.delete-button {
                background-color: $text-button-delete;
                color: $text-white;

                &:hover {
                    background-color: $text-button-delete-hover;
                    color: $button-delete-hover;
                }
            }
        }
    }
}
