//Colores de fondo
$gradiant-background-purple: rgb(192, 132, 252);
$gradiant-background-pink: rgb(236, 72, 153);
$gradiant-background-red: rgb(239, 68, 68);
$background-white: rgb(255, 255, 255);
$background-gray-inactive-pages: rgb(243, 244, 246);
$background-gray-navigation-buttons: rgb(229, 231, 235);

//Colores de texto
$text-dark-gray: rgb(31, 41, 55);
$text-medium-gray: rgb(75, 85, 99);
$text-light-gray: rgb(107, 114, 128);
$text-white: rgb(255, 255, 255);

//Colores de acento y botones
$button-vacancies: rgb(168, 85, 247);
$button-vacancies-hover: rgb(147, 51, 234);
$button-companies: rgb(236, 72, 153);
$button-companies-hover: rgb(219, 39, 119);
$text-button-delete:  rgb(239, 68, 68);
$text-button-delete-hover: rgb(220, 38, 38);
$button-delete-hover: rgb(254, 242, 242);

//Colores de bordes y focus
$border-gray: rgb(229, 231, 235);
$focus-purple: rgb(233, 213, 255);
$focus-pink: rgb(251, 207, 232);


